body {
    margin: 0;
   background: #000000;
  background: linear-gradient(
    to right,
    #000000,#434343
  );
    font-family: 'Segoe UI', sans-serif;
}


.header {
    text-align: center;
    color: white;
    font-size: 64px;
    font-weight: 600;
    padding: 30px 0;
}

.screen {
   background: #200122;
  background: linear-gradient(
    to right,
    #200122,#6f0000
  );
    border-radius: 10px;
    padding: 40px;
    margin: 0 auto 60px auto;
    max-width: 1400px;
    box-shadow: 0 20px 50px rgba(0,0,0,0.6);
}

.title {
    text-align: center;
    color: #ff3b3b;
    font-weight: 700;
    letter-spacing: 1px;
}

.subtitle {
    text-align: center;
    color: #ccc;
    margin-bottom: 40px;
}

.character-card {
    border-radius: 10px;
    overflow: hidden;
    transition: 0.3s;
}

.character-card:hover {
    transform: translateY(-5px);
}

.character-img {
    height: 180px;
    object-fit: cover;
}

.progress {
    height: 8px;
    font-size: 10px;
}

.stat-label {
    font-size: 13px;
    margin-bottom: 3px;
}